/* src/App.css */

.App {
  padding: 20px;
  background: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zodiac-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 20px;
  justify-content: center;
}

.zodiac-card {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.zodiac-card:hover {
  transform: scale(1.05);
}

.zodiac-card img {
  width: 50px;
  height: 50px;
}

.horoscope-detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horoscope-detail p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  padding: 10px 20px;
  background-color: #FF4550;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: darkred;
}
